<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362640781358-584u17hn0duol6kvdgarvkh7j4b5bh52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362640781358-584u17hn0duol6kvdgarvkh7j4b5bh52</string>
	<key>API_KEY</key>
	<string>AIzaSyADFyAXegqyXpxZlhR8k0o_PcjtFrCWDFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>362640781358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BaluTutorial.BTGoogleMaps</string>
	<key>PROJECT_ID</key>
	<string>civil-density-279312</string>
	<key>STORAGE_BUCKET</key>
	<string>civil-density-279312.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362640781358:ios:4fb6b7c60503bb179f6fbf</string>
	<key>DATABASE_URL</key>
	<string>https://civil-density-279312.firebaseio.com</string>
</dict>
</plist>